.filtro {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.filtro > button {
  border: 1.4px solid #e9ecef;
  border-radius: 8px;
  background: #e9ecef;
  width: 5rem;
  height: 2rem;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  cursor: pointer;
  transition: 1s;
}
.buttons:hover {
  border: 2px solid #fd377e;
  background: #fd377e;
  color: #ffffff;
}

@media (min-width: 700px) {
  .filtro > button {
    width: 10rem;
  }
  .filtro {
    gap: 30px;
  }
}
